@model IEnumerable<WebCegMVC1.Models.modellMunkatars>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.varos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beosztas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nyelvtudas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.varos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beosztas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nyelvtudas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
